@use "./vars.scss";

.addeditLogo {
    width: 10em;
    height: 10em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addedit {
    display: grid;

    label {
    margin: 20px auto;
    }

    h1 {
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
    font-size: 18px;
    font-weight: bold;
    justify-self: center;
    text-align: center;
    margin-top: 30px;
    }

    .dropdown {
        box-shadow: 3px 3px 2px 1px #444444;
        font-family: 'Open Sans', sans-serif;
        background-color: white;
    }

    .reminder {
    width: 200px;
    justify-self: center;
    border: none;
    box-shadow: 3px 3px 2px 1px #444444;
    }
}

.addeditaffirm {
    margin-top: 30px;
    text-align: center;
}
