@use "./vars.scss";
.add-edit-main {
    flex-grow: 2;

    h1 {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        background-color: vars.$darkpink;
       // border: solid 2px;
        width: 10em;
        margin: 1em auto 2em auto;
        padding: .8em;
        font-size: 1.5em;
        font-weight: bold;
        border-radius: 5px 20px 5px;
        box-shadow: 8px 8px 2px 1px #444444;
    }

    .addedit-form {
        display: grid;
        grid-template-areas: "name name" "freq freq" "last last" "add delete";
            
        label {
            display: flex;
            align-items: center;

            input, select {
                flex-grow: 2;
                background-color: white;
                height: 1.5em;
            }
        }
    
        .submit-button, .delete-button {
            width: 9em;
            height: 3em;
            margin: 1em;
            border: 1px solid black; 
            border-radius: 5px;
            font-family: 'Libre Bakersville', serif;
            font-size: 1.2em;
            background-color: vars.$darkpink;
        }
        .form-text {
            grid-area: name;
        }
        .form-freq {
            grid-area: freq;
        }
        .form-last {
            grid-area: last;
        }

        .submit-button {
            grid-area: add;
        }
        .delete-button {
            grid-area: delete;
        }
        
    }
}
