@use "./vars.scss";

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .homeLogo {
        width: 10em;
        height: 10em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    h1 {
       text-align: center;
       font-family: 'Libre Baskerville', serif;
       margin: 8px;

       span {
           font-style: italic;
       }
    }

    .homeButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        button {
            font-family: 'Open Sans', sans-serif;
            height: 8em;
            width: 8em;
            padding:1em;
            box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            margin: 20px;
            font-size: 18px;
            font-weight: bold;
            transition: 0.5s;


            &:hover {
                transform: scale(1.2);
            }
        }

        .addTasksButton{
            background-color: vars.$mediumgreen;
            border: solid vars.$mediumgreen 1.5px;
            transform: rotate(-6deg);
        }
        
        .taskListButton{
            background-color: vars.$darkpink;
            border: solid vars.$darkpink 1.5px;
            transform: rotate(6deg);
        }
        
        .oneTaskButton{
            background-color: vars.$lightgreen;
            border: solid vars.$lightgreen 1.5px;
            transform: rotate(-6deg);
        }
    }
}