@use "./vars.scss";

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .homeLogo {
        width: 10em;
        height: 10em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .homeButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            button {
                width: 20vh;
                height: 20vh;
                padding: 1rem;
                box-shadow: 5px 5px 7px rgba(33,33,33,.7);
                font-family: 'Open Sans', sans-serif;
                font-size: 2.5vh;
                font-weight: bold;
                // margin: 20px;
                transition-duration: 0.2s;
                
            }

            .oneTaskButton{
                position: relative;
                background-color: vars.$lightgreen;
                border: solid vars.$lightgreen 1.5px;
                transform: rotate(-6deg);
                z-index: 3 !important;

                &:hover {
                    transform: rotate(2deg);
                }
            }

            .iconify {
                color: vars.$lightgreen;
                transform: rotate(20deg);
                font-size: 30px;
                position: absolute;
                top: -8%;
                left: 45%;
            }
        }


            .taskListButton{
                position: relative;
                background-color: vars.$darkpink;
                border: solid vars.$darkpink 1.5px;
                transform: rotate(6deg) translateX(1em);
                z-index: 2;

                &:hover {
                    transform: rotate(-2deg) translateX(1em);
                }
            }

            .addTasksButton{
                position: relative;
                background-color: vars.$mediumgreen;
                border: solid vars.$mediumgreen 1.5px;
                transform: rotate(-6deg) translateX(-0.5em);
                z-index: 1;

                &:hover {
                    transform: rotate(2deg) translateX(-0.5em);
                }
            }
            
            
        }
    }
