@use './vars.scss';

.logoutLogo {
    width: 10em;
    height: 10em;
    margin-top: 10px;
    margin-bottom: 10px;

}

.logos {
    text-align: center;
}

.loginbox {
    text-align: center;
    margin: 30px auto;
    width: 150px;
    border: 1px solid black; 
    border-radius: 5px;
    font-family: 'Libre Bakersville', serif;
    font-size: 1.2em;
    background-color: vars.$darkpink;
    padding: 20px;
}

.logbackin {
    text-decoration: none;
    color: black;
}