.logoutLogo {
    width: 10em;
    height: 10em;
    margin-top: 10px;
    margin-bottom: 10px;

}

.logos {
    text-align: center;
}

.loginbox {
    text-align: center;
    margin: 40px auto;
    width: 150px;
    background-color: #9fd8cb;
    border: solid #9fd8cb 1.5px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px 20px 5px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s;
    box-shadow: 8px 8px 2px 1px #444444;
    padding: 20px;
}

.logbackin {
    text-decoration: none;
    color: black;
}