@use "./vars.scss";

.nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    background-color: vars.$mediumgreen;
    height: 3rem;
    width: 100%;
    border-bottom: 3px solid #2D3319;
    border-top: 3px solid #2D3319;

    .nav-link {
        padding: 1rem 0;
        text-decoration: none;
        font-family: 'Libre Baskerville', serif;
        color: black;
        font-size: 1.3rem;
        transition-duration: .1s;

        &:hover {
           transform: scale(1.1);
        }
    }
}


