@use "./vars.scss";

.oneTask{
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .oneTaskLogo {
        width: 10em;
        height: 10em;
    }

    .lastCompleted{
        text-align: center;
    }

    div {
        margin: 10px;
    }
    button{
        font-family: 'Libre Bakersville', serif;
        margin: 8px;
        padding: 5px;
        font-size: 1em;
        border: 1px solid black; 
        border-radius: 5px;
        background-color: vars.$mediumgreen;
        width: 4.5em;
    }
}