.signInLogo {
    width: 20em;
    height: 20em;
}

.signIn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signInForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.signInForm h2 {
    font-family: 'Libre Baskerville', serif;
}