.signUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 20em;
    height: 20em;
}
.form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
input {
    font-family: 'Libre Baskerville', serif;
    margin: 5px;
    padding: 3px;
}
.signUp h2 {
    margin-top: 20px;
    font-family: 'Libre Baskerville', serif;
}
