@use './vars.scss';

.taskListContainer {


    h1 {
        font-family: 'Libre Baskerville', serif;
        text-align: center;
        background-color: vars.$darkpink;
        font-family: 'Open Sans', sans-serif;
        margin: 1em;
        padding: .8em;
        border-radius: 5px 20px 5px;
        font-size: 1.5em;
        font-weight: bold;
        width: 10em;
        transition: 0.5s;
        box-shadow: 8px 8px 2px 1px #444444;
    }

    .prompt {
        padding: 1em;
        font-size: 1.5em;
        flex-grow: 2;
        // text-decoration: none;
        color: #000;
        text-align: center;
    }

    ul {
        flex-grow: 2;
        list-style: none;
        padding: 0;
        width: 80%;
        overflow-y: scroll;
        
        li {
            display: flex;
            justify-content: space-between;
            border-top: 1px dashed rgba(0, 0, 0, 0.5);
            grid-template-columns: 70% 30%;
            text-align: center;
            padding: .1em 0;
            align-items: center;

            .task-link {
                flex-grow: 1;
                padding: 1em;
                cursor: pointer;
                font-size: 1.2em;
                font-weight: bold;
                text-decoration: none;
                color: black;
            }
        
            .done-button { 
                max-width: 85px;
                height: 25px;
                margin: 0.5em;
                border: 1px solid black; 
                border-radius: 5px;
                font-family: 'Libre Bakersville', serif;
                font-size: 1.2em;
                background-color: vars.$mediumgreen;
            }
        }
    }
}


