$lightpink: #c7e5e3;
$darkpink: #8ca19e;


$lightgreen: #afd69b;
$darkgreen: #517664;

$mediumgreen: #a6dbbc;


// $pinkwhite: #fce9f3;
// $lightpink: #c6a3b6;
// $darkpink: #946e83;
// $darkerpink: #6b4f5e;

// $lightgreen: #9fd8cb;
// $mediumgreen: #517664;
// $darkgreen: #2d3319;